* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lilita One", cursive;
}

.container {
  width: 100%;
  height: 100vh;
  background: rgb(247, 244, 244);
  position: relative;
  overflow: hidden;
  padding: 0 10%;
  transition: all 0.4s ease;
}

.header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  position: relative;
}

.main {
  /* padding-top: 30vh; */
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
}

.hero-img {
  width: 50%;
  position: absolute;
  bottom: 0%;
  right: 0%;
  z-index: 99;
}

.content {
  position: absolute;
  top: 20%;
  left: 20%;
  line-height: 50px;
  z-index: 99;
}

.typed {
  position: relative;
}

.text-body {
  height: 100px;
  padding: 5px;
  font-size: 1.2rem;
}

.btn {
  border: 2px solid crimson;
  color: crimson;
  background: none;
  padding: 5% 10%;
  border-radius: 4px;
  transition: all 0.4s ease;
  outline: none;
  cursor: pointer;
}

.btn-clicked {
  color: rgb(223, 218, 218);
  background: crimson;
}

.btn:active {
  animation: scale 0.4s ease;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1.1);
  }
}

.content h2 {
  letter-spacing: 5px;
  margin: 5% 0;
  font-size: 3rem;
}

.main {
  position: relative;
  z-index: 99;
  letter-spacing: 3px;
}

.grey {
  width: 700px;
  opacity: 0.2;
  height: 700px;
  border-radius: 50%;
  position: absolute;
  background: rgb(138, 137, 137);
  z-index: 1;
  right: -15%;
  bottom: -30%;
  /* box-shadow: -20px -20px 20px rgb(143, 142, 142); */
}

.social-links {
  display: flex;
  /* justify-content: space-evenly; */
  width: 50%;
  font-size: 1.4rem;
  align-items: center;
  flex-direction: row;
  margin-top: 10%;
}

.social-items {
  cursor: pointer;
  margin-right: 50px;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  text-align: center;
}

.brand {
  font-size: 1.2rem;
  /* transform: rotate(-90deg); */
  /* position: absolute;
  left: 0%;
  top: 50%; */
}

.brand a {
  color: crimson;
  text-decoration: none;
}

.fa {
  cursor: pointer;
}

.style-img {
  position: absolute;
  right: -20%;
  top: 30%;
  opacity: 0.2;
  width: 30%;
  transform: rotate(180deg);
  z-index: -99;
}

.style-img2 {
  position: absolute;
  bottom: 0;
  left: -9%;
  opacity: 0.2;
  width: 35%;
  transform: rotate(270deg);
}

@media only screen and (max-width: 733px) {
  .hero-img {
    position: absolute;
    right: -50%;
    width: 120%;
    /* margin: 5%; */
    z-index: -1000;
  }

  .content {
    top: 10%;
  }

  .text-body {
    height: 50px;
    align-items: center;
  }
}

.dark-bg {
  color: white;
  background: black;
}
